__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env/

# IDEs
.vscode/
.idea/

# Application Specific
generated_captchas/
data/
test/
annotations.json
labels.txt
flags.txt
*.csv
verification_test_out/

# Pyinstaller specific
build/
dist/
*.spec
PROJECT_ONBOARDING_REVIEW.md
