name: Build Windows Executable

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        cache: 'pip'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: Build Executable via Pyinstaller
      run: |
        python -m PyInstaller --noconfirm --onedir --windowed --noconsole --name "CAPTCHA_STUDIO" --hidden-import "PIL" --hidden-import "cv2" --hidden-import "numpy" --add-data "ui;ui" app.py
        
    - name: Archive Released Build
      uses: actions/upload-artifact@v4
      with:
        name: CAPTCHA_STUDIO-Windows-Portable
        path: dist/CAPTCHA_STUDIO/
